* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(22, 10, 37); */
    background: #05121a;
}

.head {
    height: 40px;
    display: flex;
    padding-top: 20px;
    padding-left: 105px;
    margin-bottom: 90px;
}

.head p {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

.nav {
    padding-left: 400px;
}

.nav li {
    padding-top: 5px;
    padding-left: 40px;
    font-weight: bolder;
}

.nav li a {
    color: aqua;
    text-decoration: none;
}

/* .carousel-item img {
    padding-left: 150px;
    width: 500px;
    height: 300px;
} */

.my-card {
    /* position: fixed; */
    margin-top: 200px;
    right: 20px;
    background-color: #20bed0;
    color: #031225;
    border-radius: 40px;
    height: 600px;
    text-align: center;
    box-shadow: rgba(1, 1, 189, 0.508) 0px 30px 60px -12px inset, rgba(4, 0, 128, 0.514) 0px 18px 36px -18px inset;

}

.my-card h3 {
    font-size: 16px;
}

.my-card h2 {
    font-size: 22px;
}

.my-card span {
    font-size: 24px;
    color: #031225;
}

.col .product {
    /* background: rgb(85, 183, 231); */
    background: linear-gradient(90deg, rgba(11, 154, 228, 1) 0%, rgba(0, 147, 255, 0.9921218487394958) 49%, rgba(0, 212, 255, 1) 100%);
    color: #000000;
    padding: 20px 0px;
    border-radius: 20px;
}

.btn {
    background: #05121a;
    background-image: -webkit-linear-gradient(top, #05121a, #2980b9);
    background-image: -moz-linear-gradient(top, #05121a, #2980b9);
    background-image: -ms-linear-gradient(top, #05121a, #2980b9);
    background-image: -o-linear-gradient(top, #05121a, #2980b9);
    background-image: linear-gradient(to bottom, #05121a, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.sixth_part {
    padding-top: 40px;
    padding-left: 150px;
    color: aliceblue;
    padding-bottom: 20px;
    display: flex;
}

.sixth-part-about {
    flex-basis: 55%;
}

.sixth_part1 {
    display: flex;
    margin-right: 40px;
}

.sixth_part2 {
    display: flex;
    margin-top: 20px;
}

.address {
    margin-right: 50px;
}

.mail {
    margin-right: 50px;
}

.hr1 {
    border-top: 2px dotted rgba(37, 216, 211, 1);
}

.contact-right {
    flex-basis: 45%;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px;
    margin-left: 200px;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-left: 450px;
}

.footer {
    height: 40px;
    color: white;
    text-align: center;
}

.parent {
    display: flex;
    gap: 10px;
    margin-left: 12%;

    overflow: hidden;
    /* text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    /* line-clamp: 2;
    -webkit-box-orient: horizontal; */
}

#review {
    margin-top: 50px;
    margin-bottom: 20px;
    color: aqua;
}

/* .card-header {
    height: 30%; width: 30%;
} */

/* .img{height: 90px; width: 150px; border-radius: 50%;}

.img1{height: 30%; width: 30%;} */

